[submodule "Vale/Microsoft"]
	path = Vale/Styles/Microsoft
	url = https://github.com/errata-ai/Microsoft.git
[submodule "Vale/write-good"]
	path = Vale/Styles/write-good
	url = https://github.com/errata-ai/write-good.git
[submodule "Vale/proselint"]
	path = Vale/Styles/proselint
	url = https://github.com/errata-ai/proselint.git
[submodule "Vale/readability"]
	path = Vale/Styles/readability
	url = https://github.com/errata-ai/readability.git
[submodule "Vale/vale-boilerplate"]
	path = Vale/vale-boilerplate
	url = https://github.com/errata-ai/vale-boilerplate.git
